@model List<Project_Group3.Models.Instructor>
@{
    ViewData["Title"] = "Instructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/fonts/boxicons.css" />

@{
    String iconClass = "";
    if(ViewBag.IconClass == "bxs-down-arrow")
    {
        iconClass = "bxs-up-arrow";
    }else{
        iconClass = "bxs-down-arrow";
    }
}

@if (TempData["EditSuccess"] != null)
{
    <div id="editAlert" class="alert alert-@((bool)TempData["EditSuccess"] ? "success" : "danger") alert-dismissible fade show">
        @((bool)TempData["EditSuccess"] ? "Instructor edited successfully." : "Failed to edit instructor.")
        <div id="progressBar"></div>
    </div>
}

@if (TempData["DeleteSuccess"] != null)
{
    <div id="deleteAlert" class="alert alert-@((bool)TempData["DeleteSuccess"] ? "success" : "danger") alert-dismissible fade show">
        @((bool)TempData["DeleteSuccess"] ? "Instructor deleted successfully." : "Failed to delete instructor.")
        <div id="progressBar"></div>
    </div>
}


<div class="card bg-theme p-0 mt-2 mb-5" >
    <div class="container no-footer mt-5 mb-3 p-0">
        <div class="row">
            <div class="col-sm-12 col-md-2">
                <div class="dataTables_length d-flex text-theme">
                    <label>Show</label>
                    <select name="pageSize" class="form-select" style="border-radius: 8px;">
                        <option value="7">7</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="75">75</option>
                        <option value="100">100</option>
                    </select> 
                    <label>entries</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="dataTables_length d-flex text-theme">
                    <label>Status</label>
                    <select name="filter" class="form-select" style="border-radius: 8px;" 
                        onchange="location.href = '/instructor/index?filter=' + this.value;">
                        <option value="">All countries</option>
                        <option value="Vietnam">Vietnam</option>
                        <option value="Italya">Italya</option>
                        <option value="Thailan">Thailan</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="container-fluid ml-5">
                    <form class="table-search d-flex" action="/instructor/index">
                        <input class="form-control" value="@ViewBag.search" type="search" name="search" placeholder="Search">
                        <button class="btn btn-primary btn-outline-primary ml-2" type="submit">
                            <i class='bx bx-search-alt-2'></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 mt-3">
                <a class="btn btn-success" asp-action="Create">Add new</a>
            </div>
        </div>
    </div>
    
    <div class="container p-0 mt-3">
        <table class="datatables-basic table mb-5">
            <thead>
                <tr>
                    <th width="10"><input type="checkbox" id="all" class="checkbox-item"></th>
                    <th width="50" class="text-theme">
                        <a class="text-theme" href="/instructor/index?sortColumn=FirstName&iconClass=@iconClass">FirstName</a>
                        @if(ViewBag.SortColumn == "FirstName")
                        {
                            <i class="bx @ViewBag.IconClass" style="font-size: .6rem;"></i>
                        }
                    </th>
                    @* <th width="100" class="text-theme">Email</th> *@
                    <th width="50" class="text-theme">
                        <a class="text-theme" href="/instructor/index?sortColumn=Country&iconClass=@iconClass">Country</a>
                        @if(ViewBag.SortColumn == "Country")
                        {
                            <i class="bx @ViewBag.IconClass" style="font-size: .6rem;"></i>
                        }
                    </th>
                    <th width="150" class="text-theme">
                        <a class="text-theme" href="/instructor/index?sortColumn=DateOfBirth&iconClass=@iconClass">Registration Date</a>
                        @if(ViewBag.SortColumn == "DateOfBirth")
                        {
                            <i class="bx @ViewBag.IconClass" style="font-size: .6rem;"></i>
                        }
                    </th>
                    <th width="70" class="text-theme">Status</th>
                    <th width="70" class="text-theme">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var instructor in Model){
                    <tr class="">
                        <td class="  dt-checkboxes-cell">
                            <input type="checkbox">
                        </td>
                        <td>
                            <div class="d-flex justify-content-start align-items-center user-name">
                                <div class="avatar-wrapper">
                                    <div class="avatar mr-2">
                                            <img class="avatar-initial rounded-circle bg-label-warning" src="~/img/1.png">
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="/instructor/detail/@instructor.InstructorId">
                                        <span class="text-truncate text-theme">@instructor.FirstName @instructor.LastName</span><br>
                                        <small class="text-truncate text-muted text-theme">@instructor.Email</small>
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td>@instructor.Country</td>
                        <td>@instructor.Birthday</td>
                        <td>@instructor.PhoneNumber</td>
                        <td>
                            <div class="action-icon d-flex text-center">
                                <a class="btn btn-warning mr-2" asp-action="Detail" asp-route-id="@instructor.InstructorId" title="Edit">
                                    <i class='bx bxs-edit'></i>
                                </a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@instructor.InstructorId" title="Delete">
                                        <i class='bx bxs-trash-alt'></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
